#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

.line{
  fill: none;
  stroke-width: 2px;
  stroke: rgb(102,76,142);
}

svg{
  background-color: whitesmoke;
}

.box{
  height: 40vh;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1{
  text-align:center;
  color: black;
  font-weight: bold;
}

p{
  text-align:center;
  font-weight: bold;
  color: black;
}

